.assets-svg {
  width: 400px;
  height: 72px;
  background: inline("../img/postcss-assets.svg");
}
.assets-png {
  width: 200px;
  height: 57px;
  background: inline("../img/postcss-assets.png");
}
.assets-jpg {
  width: 190px;
  height: 190px;
  background: inline("../img/postcss-assets.jpg");
}