@import "reset";
@import "base";
@import "part1";
@import "part2";
@import "test-postcss-assets";
@import "test-autoprefixer";
@import "test-iehack";
@import "test-null";
@import "attr";

.test-ascii {
  content: '\e091';
}

.test-color {
  background-color: #ff6633 - #000001;
  background-color: adjust-color(#ff6633, $blue: -1);
}