// Automatically applied global style files,
// generated at the ending of the CSS file,
// have a higher priority than the default style.

.home .hero img
  max-height 180px !important;

{$contentClass}:not(.custom)
  p.demo
    border 1px dashed #f60
    border-radius 10px 0 10px 0


pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

blockquote
  padding: 0.1rem 1.5rem
  border-left-width: 0.5rem
  border-left-style: solid
  margin: 1rem 0
  background-color: #f3f5f7
  border-color: #42b983
  & > p
    margin: 1em 0;